<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theksmith.steeringwheelinterface"
    android:versionCode="1" 
    android:versionName="1.2.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".SteeringWheelInterfaceActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:excludeFromRecents="true" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
            </intent-filter>

			<intent-filter>
                <action android:name="android.intent.action.DELETE" />
            </intent-filter>

						
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"                 
                android:resource="@xml/device_filter" />
        </activity>

        <activity
            android:name=".SteeringWheelInterfaceSettings"
            android:label="@string/app_name" >
        </activity>
        
        <service
            android:name=".SteeringWheelInterfaceService"
            android:enabled="true"
            android:label="@string/app_name"
            android:exported="false" >
		
        </service>        
    </application>

</manifest>